.GithubLogin-login {
    border: 0;
    height: 40px;
    width: 200px;
    background-color: var(--grey);
    border-radius: var(--xs);
    /* vertical-align: middle; */
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    padding: 0;

}