.NavBar-container {
  padding: var(--s) var(--m);
  background-color: var(--primary);
}

.NavBar-title {
  color: var(--white);
  font-size: 20px;
  vertical-align: middle;
}

.NavBar-linkContainer {
  margin-left: var(--l);
  
}

.NavBar-logoutButton {
  border: 0;
  background-color: white;
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
  vertical-align: middle;
  /* transition: opacity 0.5s, color 0.5s; */
}

.NavBar-link:hover {
  opacity: 0.8;
  /* opacity: 1; */
  /* color: black; */
}

.NavBar-link.NavBar-login {
  opacity: 1;
  color: black;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.NavBar-link + .NavBar-logoutButton {
  margin-left: var(--m);
}